html {
  cursor: url('../images/fly.svg'), auto;
}
body {
  overflow-x: hidden;
}
a, h1, .book, .esc, .button_next, .button_prev {
  cursor: url('../images/fly_pointer.svg'), auto;
}
h1, .book {
  font-family: Circe Rounded Regular;
  font-style: normal;
  font-weight: 400;
  color: white;
  position: absolute;
}
h1:hover {
  color: #D0DAFF;
}
.book {
  text-decoration: none;
}
.logo {
  position: absolute;
  margin: 1.5vw;
  background: url(../images/logo_white.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.none {
  display: none;
}
.about {
  border-bottom: .2vw solid white;
}
.carousel {
  width: 99.9vw;
  height: 62.5vw;
  position: absolute;
  top: 0vw;
  left: 0vw;
}
.all_slides {
  position: absolute;
  top: 0vw;
  left: 0vw;
  width: 300vw;
  height: 62.5vw;
}
.slide_1 {
  position: absolute;
  top: 0vw;
  left: 0vw;
  width: 100%;
  height: 100%;
  background: url(../images/slide_1.svg);
}
.slide_2 {
  position: absolute;
  top: 0vw;
  left: 100vw;
  width: 100%;
  height: 100%;
  background: url(../images/slide_2.svg);
}
.slide_3 {
  position: absolute;
  top: 0vw;
  left: 200vw;
  width: 100%;
  height: 100%;
  background: url(../images/slide_3.svg);
}
@media all and (min-width: 1024px) {
  .esc {
    margin: 2vw 3vw 0vw 37vw;

  }
  h1, .book {
    font-size: 8.4vw;
    top: 51.7vw;
    left: 2vw;
    line-height: 1vw;
    margin: 6vw 0vw 0vw 0vw;
  }
  .about_text {
    width: 41.4vw;
    height: 26.4vw;
    position: absolute;
    bottom: 0vw;
    left: 0vw;
    background-color: #D0DAFF;
  }
  .about_text > p {
    font-family: Circe Rounded Regular;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6vw;
    position: absolute;
    margin: 2vw 2.5vw;
  }
  .building_text {
    width: 41.4vw;
    height: 26.4vw;
    position: absolute;
    bottom: 0vw;
    left: 0vw;
    background-color: #D0DAFF;
  }
  .building_text > p {
    font-family: Circe Rounded Regular;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6vw;
    position: absolute;
    margin: 2vw 2.5vw;
  }
  .button_next {

    position: absolute;
    top: 45%;
    right: 2%;
    width: 3.6vw;
    height: 6.2vw;
    background: url(../images/button_right.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .button_prev {

    position: absolute;
    top: 45%;
    left: 2%;
    width: 3.6vw;
    height: 6.2vw;
    background: url(../images/button_left.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  /* Меню */
  .main_menu {
    display: flex;
    position: absolute;
    top: 2vw;
    width: 37vw;
    left: 60vw;
    flex-direction: row;
    justify-content: space-between;
  }
  .main_menu > a {
    text-decoration: none;
    color: #ffffff;
    font-family: Circe Rounded Regular;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5vw;
  }
  .main_menu > a:hover {
    border-bottom: .2vw solid white;
  }
  .logo {
    width: 5vw;
    height: 2.2vw;
  }
  .menu_mobile {
    display: none;
  }
  .about {
    border-bottom: .2vw solid white;
  }
}
@media all and (min-width: 600px) and (max-width: 1023px) {
  /* Меню */
  .main_menu {
    display: flex;
    position: absolute;
    top: 2vw;
    width: 54vw;
    left: 43vw;
    flex-direction: row;
    justify-content: space-between;
  }
  .main_menu > a {
    text-decoration: none;
    color: #ffffff;
    font-family: Circe Rounded Regular;
    font-style: normal;
    font-weight: 400;
    font-size: 2.5vw;
  }
  .main_menu > a:hover {
    border-bottom: .2vw solid white;
  }
  .logo {
    width: 8.9vw;
    height: 3.8vw;
  }
  .menu_mobile {
    display: none;
  }
  .about {
    border-bottom: .2vw solid white;
  }
}
@media all and (min-width: 1px) and (max-width: 599px) {
  /* Меню */
  .main_menu {
    display: none;
  }
  .logo {
    width: 13.9vw;
    height: 5.8vw;
  }
  .menu_mobile {
    position: absolute;
    top: 4vw;
    left: 87vw;
    width: 10vw;
    height: 7vw;
    background: url(../images/menu_mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .side_menu {
    position: absolute;
    top: 0vw;
    right: 0vw;
    width: 70%;
    height: 520vw;
    background-color: white;
  }
  .side_menu_text {
    display: flex;
    position: absolute;
    top: 27vw;
    width: 70vw;
    flex-direction: column;
    justify-content: space-between;
  }
  .side_menu_text > a {
    text-decoration: none;
    color: #000000;
    font-family: Circe Rounded Regular;
    font-style: normal;
    font-weight: 400;
    font-size: 8.5vw;
    text-align: right;
    margin: 0vw 4vw;
    line-height: 16vw;
  }
  .side_menu_text > a:hover {
    border-bottom: .9vw solid black;
  }
  .esc {
    margin: 4vw 4vw 0vw 36vw;

    width: 10vw;
    height: 7vw;
  }
}
