html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
.kva_xl {
  position: absolute;
  width: 37.8vw;
  height: 12.7vw;
  background: url(../images/kva_xl.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.xl_anim {
  animation: xl_anim 4s steps(1) infinite;
}
@keyframes xl_anim {
  10% { top: 40%; left: 10%; }
  20% { top: 20%; left: 40%; }
  30% { top: 35%; left: 10%; }
  40% { top: 27%; left: 62%; }
  50% { top: 60%; left: 10%; }
  60% { top: 75%; left: 62%; }
  70% { top: 32%; left: 35%; }
  80% { top: 70%; left: 25%; }
  90% { top: 45%; left: 58%; }
}
.kva_l {
  position: absolute;
  width: 33vw;
  height: 11vw;
  background: url(../images/kva_l.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.l_anim {
  animation: l_anim 3s steps(1) infinite;
}
@keyframes l_anim {
  0% {top: 40%; left: 20%;}
  10% {top: 65%; left: 54%;}
  20% {top: 25%; left: 32%;}
  30% {top: 5%; left: 13%;}
  40% {top: 60%; left: 43%;}
  50% {top: 48%; left: 28%;}
  60% {top: 6%; left: 62%;}
  70% {top: 21%; left: 35%;}
  80% {top: 5%; left: 25%;}
  90% {top: 70%; left: 7%;}
}
.kva_m {
  position: absolute;
  width: 24vw;
  height: 8vw;
  background: url(../images/kva_m.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.m_anim {
  animation: m_anim 5s steps(1) infinite;
}
@keyframes m_anim {
  0% {top: 10%;left: 62%;}
  10% {top: 45%;left: 2%;}
  20% {top: 6%;left: 43%;}
  30% {top: 70%;left: 70%;}
  40% {top: 45%;left: 76%;}
  50% {top: 39%;left: 14%;}
  60% {top: 10%;left: 37%;}
  70% {top: 60%;left: 52%;}
  80% {top: 23%;left: 21%;}
  90% {top: 54%;left: 17%;}
}
.kva_s {
  position: absolute;
  width: 21.3vw;
  height: 7.3vw;
  background: url(../images/kva_s.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.s_anim {
  animation: s_anim 2s steps(1) infinite;
}
@keyframes s_anim {
  0% {top: 12%; left: 24%;}
  10% {top: 64%; left: 63%;}
  20% {top: 35%; left: 13%;}
  30% {top: 70%; left: 5%;}
  40% {top: 25%; left: 32%;}
  50% {top: 40%; left: 3%;}
  60% {top: 32%; left: 53%;}
  70% {top: 2%; left: 21%;}
  80% {top: 48%; left: 31%;}
  90% {top: 16%; left: 57%;}
}
.kva_xs {
  position: absolute;
  width: 13.8vw;
  height: 4.7vw;
  background: url(../images/kva_xs.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.xs_anim {
  animation: xs_anim 5s steps(1) infinite;
}
@keyframes xs_anim {
  0% {top: 54%; left: 1%;}
  10% {top: 70%; left: 24%;}
  20% {top: 12%; left: 3%;}
  30% {top: 27%; left: 37%;}
  40% {top: 43%; left: 52%;}
  50% {top: 7%; left: 19%;}
  60% {top: 34%; left: 30%;}
  70% {top: 90%; left: 10%;}
  80% {top: 12%; left: 26%;}
  90% {top: 46%; left: 38%;}
}
nav {
  align-items: center;
  display: flex;
  flex-flow: column;
  width: 100%;
  position: absolute;
  top: 16.5vw;
}
a {
  text-decoration: none;
  color: #000000;
  line-height: 6.5vw;
  font-family: Circe Rounded Regular;
  font-style: normal;
  font-size: 3.5vw;
  font-weight: 400;
}
a:hover {
  border-bottom: .2vw solid black;
}
.logo {
  position: absolute;
  top: 2vw;
  left: 2vw;
  width: 3.9vw;
  height: 1.8vw;
  background: url(../images/logo_black.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.main_menu {
  display: flex;
  flex-flow: column;
  width: 100%;
  position: absolute;
  top: 20.5vw;
}
.main1 {
  position: absolute;
  width: 14vw;
  height: 10vw;
  top: 16vw;
  left: 22vw;
  background: url(../images/main1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
}
.main2 {
  position: absolute;
  width: 14vw;
  height: 10vw;
  top: 12.3vw;
  left: 18vw;
  background: url(../images/main2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
}
.main3 {
  position: absolute;
  width: 14vw;
  height: 10vw;
  top: 19.3vw;
  left: 66vw;
  background: url(../images/main3.svg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
}
.about:hover ~ .main1 {
  opacity: 1;
}
.main4 {

}
.main5 {

}
.main6 {

}
.main7 {

}
.main8 {

}
.main9 {

}
.main10 {

}
